.home-page {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    height: 100vh;
}

.timeline {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 680px;
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
}

@media (max-width: 840px) {
    .home-page {
        justify-content: center;
    }
}