.login-page-container {
    display: flex;
    background-color: #F0F2F5;
    min-height: 600px;
    justify-content: center;
    gap: 100px;
    align-items: center;
    padding: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    z-index: 1;
}

.login-page-container.overlay {
    opacity: 30%;
}

h1, h2 {
    margin: 0;
    padding: 0;
}

.title-info {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: white;
    height: fit-content;
    width: auto;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.login-form-container > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #DADDE1;
}


.login-form-container > div > form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-form-container > div > form > input {
    padding: 15px;
    width: 320px;
    border-radius: 7px;
    border: 1px solid #DDDFE2;
    height: 20px;
    font-size: 16px;
    outline: none;
}

.login-form-container > div > form > input:focus {
    border: 1px solid #1877F2;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.login-input:focus::placeholder {
    color: #AF9292;
}

.login-button {
    background-color:#1877F2;
    padding: 15px;
    border-radius: 7px;
    border: none;
    color: white;
    font-size: 20px;
}

.login-button:hover, .create-account-button:hover {
    cursor: pointer;
}

.create-account-button:hover {
    background-color: #45AA31;
}

.forgot-password {
    color:#1877F2;
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 5px;
}

.create-account-button {
    padding: 15px;
    border-radius: 7px;
    border: none;
    color: white;
    background-color: #41B62A;
    width: 210px;
    font-size: 18px;
    margin-bottom: 10px;
    width: auto;
}

.facebook-title {
    color:#1877F2;
    font-size: 55px;
}

.facebook-description {
    font-weight: 400;
    font-size: 25px;
}


@media (max-width: 955px) {
    .login-page-container {
        flex-direction: column;
        gap: 40px;
    }

    .title-info {
        text-align: center;
    }

    .facebook-description {
        padding: 20px;
    }
}