.photos-container {
    background-color: white;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 15px;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.photos-container-header > h4 {
    font-size: 20px;
}

.photos-container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.see-all-photos {
    color: #1877F2;
}

.photo {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.thumbnail {
    height: 149px;
    width: 149px;
}

.thumbnail:hover {
    filter: brightness(90%);
    -webkit-filter: brightness(90%);
    cursor: pointer;
}

.photos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 5px;
    column-gap: 5px;
}
