.profile-content-container {
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: center;
}

.profile-home-content {
    display: flex;
    gap: 15px;
    width: 86%;
    padding-left: 30px;
    margin-top: 15px;
}

.profile-left-sidebar {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 490px;
}

.profile-timeline {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}