.status-container {
    background-color: white;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    gap: 5px;
    box-sizing: border-box;
}

.status-container.postModal {
    box-shadow: none;
    overflow: auto;
    height: 100%;
}

.status-container.postModal::-webkit-scrollbar {
    display: none;
}

.status-container > div:nth-child(1) {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
}

.left-info.status {
    gap: 10px;
}

.right-info.status {
    padding-right: 0;
}

.status-options {
    display: flex;
}

.status-options > button {
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    background-color: white;
}

.status-options > button:hover {
    background-color: #F0F2F5;
    cursor: pointer;
}

.status-option-icon {
    height: 25px;
    width: 35px;
}

.status-interactive-options {
    border-top: 1px solid #DADDE1;
    border-bottom: 1px solid #DADDE1;
    margin-bottom: 3px;
    display: flex;
    padding: 5px;
    justify-content: space-around;
    margin-top: 5px;
    margin-bottom: 5px;
}

.status-time {
    font-size: smaller;
}

.status-content {
    padding: 5px;
}

.like-icon.count {
    height: 12px;
    width: 12px;
    background-color: #0C87EE;
    border-radius: 50%;
    padding: 4px;
    fill: white;
}

.like-count {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
}

h5 {
    padding: 0;
    margin: 0;
}

.view-more-comments {
    padding-left: 5px;
    padding-bottom: 10px;
    color: #777;
    font-weight: 600;
}

.view-more-comments:hover {
    cursor: pointer;
    text-decoration: underline;
}

.media-content {
    height: auto;
    width: 100%;
    margin: auto;
    margin-top: 5px;
}

.media-content > img {
    width: 100%;
    height: 100%;
}