.status-creator-button {
    padding: 10px;
    border-radius: 1rem;
    border: none;
    background-color: #F0F2F5;
    height: 35px;
    width: 100%;
    text-align: left;
    color: #777;
    font-size: 15px;
}

.status-creator-button:hover {
    cursor: pointer;
    background-color: #E0E2E5;
}

.top-info {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DADDE1;
}

.bottom-options {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 30px;
    margin-top: 5px;
}

.bottom-options > ul > li {
    display: flex;
    align-items: center;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 12px;
    height: 20px;
    width: auto;
    font-size: 14px;
    color: #777;
    font-weight: 500;
    gap: 5px;
}

.bottom-options > ul > li:hover {
    cursor: pointer;
    background-color: #F0F2F5;
}

.status-creator-container {
    background-color: white;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.add-photo-icon {
    height: 30px;
}